<% provide(:title, 'About Us') %>

<h1>About Us</h1>

<p>	The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	is a project to make a book and screencasts to teach web development
	with <a href="http://rubyonrails.org/">Ruby on Rails</a>. This
	is the sample application for the tutorial.
</p>

<p>	このページは spec/requests/static_pages_spec.rb によって以下の条件が指定されています。<br>
	<ul>	<li>content に「About Us」が含まれる</li>
			<li>title に「About Us」が含まれる</li>
	</ul>
</p>

<p>	このページは app/views/layouts/application.html.erb によってレイアウトが指定されています。<br>
	したがって、内部のコンテンツのみ記述されています。
</p>
