<% provide(:title, 'Help') %>

<h1>Help</h1>

<p>	Get help on the Ruby on Rails Tutorial at the
	
	<a href="http://railstutorial.jp/help">Rails Tutorial help page</a>.
	To get help on this sample app, see the
	<a href="http://railstutorial.jp/book">Rails Tutorial book</a>.
</p>

<p>	このページは spec/requests/static_pages_spec.rb によって以下の条件が指定されています。<br>
	<ul>	<li>content に「Help」が含まれる</li>
			<li>title に「Help」が含まれる</li>
	</ul>
</p>

<p>	このページは app/views/layouts/application.html.erb によってレイアウトが指定されています。<br>
	したがって、内部のコンテンツのみ記述されています。
</p>
